* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: darkseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d-block {
  display: block;
}

#enter {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

#enter input {
  padding: 5px;
  margin: 5% 0;
}

tbody tr {
  display: grid;
  margin: 10px;
}

td {
  margin-top: 20px;
}

a.btn-remove.deleteRow {
  box-sizing: border-box;
  padding: 2px;
  background: gray;
}

a.btn-remove.deleteRow:hover {
  cursor: pointer;
}

#submit {
  box-sizing: border-box;
  padding: 5px;
}

@media Screen and (min-width: 996px) {
  #enter {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10px;
  }

  #enter input {
    padding: 10px;
    margin: 3% 0;
  }

  #submit {
    box-sizing: border-box;
    padding: 10px;
  }
}
