* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: darkseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d-block {
  display: block;
}

tbody tr {
  display: grid;
  margin: 10px;
}

td {
  margin-top: 20px;
}

a.btn-remove.deleteRow {
  box-sizing: border-box;
  padding: 2px;
  background: gray;
}

a.btn-remove.deleteRow:hover {
  cursor: pointer;
}
